# Database Configuration (Supabase PostgreSQL)
DB_NAME=orderin
DB_USER=postgres
DB_PASSWORD=220961
DB_HOST=192.168.0.102
DB_PORT=5432

# Django Settings
DEBUG=True
DJANGO_SECRET_KEY='5pzp$#fu5qx_3d_76b-4az_hcx$20pac!e6sdpu1)w=v6+1!aw'
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.102

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
